.main-page {
  // header: 50px, footer: 50px
  min-height: calc(100vh - 50px - 50px);
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 45px;
}

body.no-footer {
  .main-page {
    min-height: calc(100vh - 50px);
  }
}

.main-content {
  padding-left: 30px;
}
