.nav-sidebar {
  flex: 0 0 auto;
  width: 180px;
  background-color: $primary;
}

.nav-sidebar-link {
  display: flex;
  align-items: flex-end;
  color: $light;
  padding: 6px 8px;

  &:hover {
    color: $light;
    background-color: rgba($color: $light, $alpha: 0.2);
  }
}

.nav-sidebar-link-icon {
  width: 35px;
  font-size: 28px;
  text-align: center;
  margin-right: 8px;
}

.nav-sidebar-link-text {
  font-size: 18px;
  font-weight: $fwb;
}

.nav-sidebar-filter-box {
  border: 1px solid $light;
  margin: 0 8px;
  padding: 20px 12px;
  color: $light;
  font-size: 12px;
}
