@mixin dfc() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dfac() {
  display: flex;
  align-items: center;
}

@mixin difc() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// Circle
@mixin circle-variant($background) {
  @include gradient-bg($background);
}

@mixin trans() {
  transition: all 0.3s ease;
}

@mixin trans-fast() {
  transition: all 0.15s ease;
}

@mixin trans-slow() {
  transition: all 0.45s ease;
}
