$primary: #00529e;
$primary-less: #326dcc;
$secondary: #a3a3a3;
$secondary-more: #707070;
$secondary-less: #f5f5f5;
$dark: #000;
$light: #fff;
$info: #b0d2fa;
$info-more: #00a4e4;
$info-o3: rgba(
  $color: $info,
  $alpha: 0.3
);
$danger: #ff0f0f;
$warning: #feb432;

$footer-bg: #f7f5f5;
$scroll-bg: #a2a2a2;
$scroll-track: #e5e5e5;
