$primary: #00529e;
$primary-less: #1479f5;
$secondary: #a3a3a3;
$secondary-more: #707070;
$secondary-less: #f5f5f5;
$dark: #000;
$light: #fff;

$footer-bg: #f7f5f5;
$scroll-bg: #a2a2a2;
$scroll-track: #e5e5e5;
