.btn {
  height: 40px;
}

.btn-sm {
  height: 20px;
}

.btn-lg {
  height: 50px;
  font-size: 16px;
}

.btn-light {
  color: $primary;
}

.btn-secondary {
  color: $light;
}

.btn-outline-primary-less {
  border-color: $primary-less;
  background-color: $light;
  color: $primary-less;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):hover {
  color: $light;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary:not(:disabled):not(.disabled):hover {
  color: $light;
}

.btn-h-26 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}
