.d-grid {
  display: grid !important;
}

@for $i from 1 through 30 {
  .grid-gap-#{$i} {
    grid-gap: #{$i}px;
  }

  .grid-template-columns-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  .grid-columns-#{$i} {
    grid-column: #{$i};
  }
}
