.custom-control {
  padding-left: 20px;
  min-height: 16px;
}

.custom-control-label {
  &::before,
  &::after {
    top: 2px;
    left: -20px;
    transform: scale(calc(14 / 16));
  }
}

.custom-checkbox-light,
.custom-radio-light {
  .custom-control-label {
    &::before {
      border-color: $secondary !important;
    }
  }
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.custom-select,
.custom-select-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.custom-select-sm {
  height: 20px;
  font-size: 14px;
  border-radius: 1px;
}

.input-setup-title {
  padding-right: 70px;
  font-size: 14px;
}

.input-setup-title-note {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 8px;
  color: $secondary;
}
