.modal-content {
  font-size: 13px;
}

.modal-header {
  padding-left: 40px;

  .close {
    font-size: 32px;
    color: $primary;
    opacity: 1;
  }
}

.modal-title {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: $fwb;
  line-height: 24px;
  padding-top: 14px;
}

.modal-body {
  margin: 5px 40px;
  padding: 0;

  @extend .scroll-sm;
}

.modal-footer {
  padding: 25px 40px;

  > * {
    margin: 0;
  }
}

.modal-confirm {
  z-index: 1070;
}

.modal-backdrop + .modal-backdrop {
  z-index: 1060;
}
