@for $i from 1 through 20 {
  .m-n--#{$i} {
    margin: -#{$i}px !important;
  }
}

@for $i from 1 through 4 {
  .mt--#{$i},
  .my--#{$i} {
    margin-top: #{$i}px;
  }

  .mb--#{$i},
  .my--#{$i} {
    margin-bottom: #{$i}px;
  }

  .pt--#{$i},
  .py--#{$i} {
    padding-top: #{$i}px;
  }

  .pb--#{$i},
  .py--#{$i} {
    padding-bottom: #{$i}px;
  }
}

.w--50 {
  width: 50px;
}

.w--100 {
  width: 100px;
}

.mw-255 {
  max-width: 255px;
}

.mw-340 {
  max-width: 340px;
}
