@for $i from 1 through 20 {
  .m-n--#{$i} {
    margin: -#{$i}px !important;
  }
}

@for $i from 1 through 4 {
  .mt--#{$i},
  .my--#{$i} {
    margin-top: #{$i}px;
  }

  .mb--#{$i},
  .my--#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml--#{$i},
  .mx--#{$i} {
    margin-left: #{$i}px;
  }

  .mr--#{$i},
  .mx--#{$i} {
    margin-right: #{$i}px;
  }

  .pt--#{$i},
  .py--#{$i} {
    padding-top: #{$i}px;
  }

  .pb--#{$i},
  .py--#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl--#{$i},
  .px--#{$i} {
    padding-left: #{$i}px;
  }

  .pr--#{$i},
  .px--#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .rounded--#{$i} {
    border-radius: #{$i}px !important;
  }
}

.w--20 {
  width: 20px !important;
}

.w--50 {
  width: 50px !important;
}

.w--70 {
  width: 70px !important;
}

.w--75 {
  width: 75px !important;
}

.w--100 {
  width: 100px !important;
}

.w--175 {
  width: 175px !important;
}

.w--255 {
  width: 255px !important;
}

.w--340 {
  width: 340px !important;
}

.w--350 {
  width: 340px !important;
}

.mw-1000 {
  max-width: 1000px !important;
}

.h--100 {
  height: 100px !important;
}

.wh--100 {
  width: 100px !important;
  height: 100px !important;
}

.wh--60 {
  width: 60px !important;
  height: 60px !important;
}

.lnl-m4 {
  .item:not(:last-child) {
    margin-right: 20px;
  }
}
