.table {
  font-size: 13px;
  white-space: no-wrap;

  thead {
    tr {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.table-striped thead + tbody {
  tr:nth-of-type(odd) {
    background-color: unset;
  }

  tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
