@for $i from 1 through 30 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

.fwl {
  font-weight: $font-weight-light !important;
}

.fwn {
  font-weight: $font-weight-normal !important;
}

.fwb {
  font-weight: $font-weight-bold !important;
}

.lh-1 {
  line-height: 1;
}

.text-secondary-more {
  color: $secondary-more !important;
}

.bg-secondary-less {
  background-color: $secondary-less !important;
}

.ws-pre {
  white-space: pre;
}
