@for $i from 1 through 30 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 1 through 30 {
  .lp-#{$i} {
    letter-spacing: #{$i}px !important;
  }
}

.fwl {
  font-weight: $font-weight-light !important;
}

.fwn {
  font-weight: $font-weight-normal !important;
}

.fwb {
  font-weight: $font-weight-bold !important;
}

.lh-1 {
  line-height: 1 !important;
}

.text-primary-less {
  color: $primary-less !important;
}

.text-secondary-more {
  color: $secondary-more !important;
}

.ws-pre {
  white-space: pre !important;
}

.text-align-last-justify {
  text-align-last: justify;
}

.ff-ss {
  font-family: sans-serif;
}

.bg-secondary-less {
  background-color: $secondary-less !important;
}

.bg-info-o3 {
  background-color: $info-o3;
}
